

*finish edit routes for bests from index file_field
*add delete to keyword profile
*add web address to the database
*list company name and have it link to the web address in the db
*fix flash messages
*have flashes fade out
*add search to bests on user profile
*require form files on best submission
*protect bests index from ppl with a basic membership
*add search to homepage
*avoid double keyword entries
*add ranking
*add avatar to best
*make homepage search exact match (maybe)

fix logic on dropdown
style homepage seach
add sorting to bests newest/oldest/ (views / rank / clicks) https://www.youtube.com/watch?v=cWYiAVMSHD4\
add images media column to bests db

