Membershps
    Regular / Just clicks signup form
    "Get Listed" goes to a "Get listed on bestest" page where you have a new form
    
    
    
    
User Profiles
* Each user should have one profile
* User should see link to new profile form upon signing up
* User should be able to create and view their user profile
* User profile should have a profile picture
* User should be able to view all user profiles


Search Terms

The term 
Its rank
Company Name
Avatar
Short description
Long description 
Images
Videos



