
<div class="container">
    <% @users.each do |user| %>
    
        <% if user.profile %>
            <ul class="list-unstyled">
                <li>
                    <%= user.profile.first_name  %>
                </li>
            </ul>
        <% else %>
        <% end %>
    
    <% end %>
</div>