<div class="container-fluid contact-bar">
  <div class="row">
   <h1 class="text-center">Get listed on Bestest</h1>
  </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <%= link_to "Join Now", new_user_registration_path(plan: $pro_plan), class: 'btn btn-primary btn-lg' %>
    </div>
</div>


