<div class="homepage-callout">
    <div class="zero-padding text-center container-fluid toggle">
        <% if user_signed_in?%>
          <h1>Hey you, lookin' good!</h1>
        <% else %>
          <h1>Search for the best of anything.</h1>
        <% end %>
        <h3 class="static">Quickly find the best <span class="element typer"></span></h3>
       
        <div class="row search-container">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <%= form_tag root_path, :method => 'get', :class => "input-group-lg" do %>
                <%= text_field_tag :search, params[:search], remote: true,
                :class => "form-control", :placeholder => " Search for the best...", :autofocus => true, :autocomplete => 'off' %>
                <%= submit_tag "Search", :name => nil, remote: true, :class => "btn search-btn btn-lg" %>
            </div>
          </div>
        </div>
          <br>
          <div class="zero-pad">
            <div class="index-bg">
              <ul class="list-unstyled">
                <%= render 'bests/best' , remote: true %>
              </ul>
            </div>
          </div>
        <% end %>
         



<!--typing animation -->

<script src="typed.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){
      Typed.new('.element', {
        strings: ["^700 sushi in San Francisco.^900", "^700 affordable mountain bikes.^900" , 
        "^700 gluten free blueberry muffins.^900", "^700Goldendoodle breeders.^900" ,
        "^700 stock music for video editing.^900", "^700 roofers in Sheboygan.^900" ,
        "^700 online bookkeeping software.^900", "^700 paper company in Scranton.^900"  ],
        typeSpeed: 80,
        shuffle: true,
        loop: true,
        loopCount: null,
      });
  });
</script>