<div id="slider" class="homepage-callout text-center container-fluid">
    <h1>The best search. Literally.</h1>
    <h3>Quickly search for the best of anything.</h3>
</div>
    <div class="search-container">
        <div class="container input-group-lg">
          <input type="text" class="form-control" placeholder="Search for the best..." autofocus oninput="document.getElementById('slider').classList.toggle('closed’)”>
        
        </div><!-- /input-group -->
    </div><!-- /.row -->
<div class="results-bg">
    
</div>