<div>
    <div class="homepage-callout text-center container-fluid toggle">
        <% if user_signed_in?%>
          <h1>Hey you, lookin' good!</h1>
        <% else %>
          <h1>Search for the best of anything.</h1>
        <% end %>
        <h3 class="static">Quickly search for the best <span class="element typer"></span></h3>
    </div>
     <div class="row search-container">
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3  input-group-lg">
                <input type="text" autofocus class="form-control" placeholder="Search for the best..." onkeypress="toggle(document.querySelector('.toggle'));">
                
              </div>
            </div>
      </div>
    <div class="results-bg">
     
    </div>
</div>

<div class="container">
      <div class="text-right input-group-lg">
        <%= form_tag root_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search], :id =>"best_search", remote: true %>
            <%= submit_tag "Search", :name => nil, remote: true %>
          </p>
      </div>
    <br>
    <ul class="list-unstyled">
     <%= render 'bests/best' , :id => "best-item", remote: true %>
    </ul>
      
     <% end %>
  <!--remove these eventually -->
    <br>
    <br>
    <br>
    <br>
   
    </div>

<!--typing animation -->
<script src="typed.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){
      Typed.new('.element', {
        strings: ["^700 sushi in San Francisco.^900", "^700 affordable mountain bikes.^900" , 
        "^700 gluten free blueberry muffins.^900", "^700Goldendoodle breeders.^900" ,
        "^700 stock music for video editing.^900", "^700 roofers in Sheboygan.^900" ,
        "^700 online bookkeeping software.^900", "^700 paper company in Scranton.^900"  ],
        typeSpeed: 80,
        shuffle: true,
        loop: true,
        loopCount: null,
      });
  });
</script>