     <% @bests.each do |best| %>
      <div class="well">
        <li><h3><%= link_to best.company_name , user_best_path(best.user_id,best.id) %></h3></li>
        <li><%= best.term %></li>
          <div class="text-right"><br>
          
          <%= link_to current_user.vote_for(best) , :class=>"btn btn-default"   %>
          <%= link_to current_user.vote_against(best) , :class=>"btn btn-default" %>
          </div>
      </div>
      <% end %>