<div class="container">
    <h2>My Keyword Profiles</h2>

    <ul class="list-unstyled">
      <% @bests.each do |best| %>
        <li><%= link_to best.term , user_best_path(current_user.id,best.id) %></li><br>
      <%end%>
    </ul>
   
    </div>