/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

body,html{
    height: 100%;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
a:hover,
{
    outline:0px !important;
    -webkit-appearance:none;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

.zero-padding{
    padding: 0px;
}

.alert-notice {
  display: none;
}

.flash-container {
  position: absolute;
  text-align: center;
  margin-right: 52px;
  right: 0px;
  width: 25%;
}
.alert-notice, .alert-alert {
  text-align: center;
  margin-top: -14px;
  
}

.homepage-callout, .navbar, .contact-bar {
    color: white;
  
    background-color: Transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.navbar{
    border: none;
}

.no-margin-bottom{
    margin-bottom: 0px;
}

.navbar-default .navbar-brand, .entry {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  
}

.navbar-default .navbar-brand:hover {
  color: white;
  opacity: 0.75;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  opacity: 0.75;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: white;
  }
}


.btn-signup{
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid white; 
}

.foot-text{
    font-size: .8em;
}

//drop down menu

.dd-text{
  color: white;
}

.dd-pad{
  padding-top: 5px;
}

.dropdown-menu .sub-menu {
    right: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}



//////



.homepage-callout{
    color: white;
    padding-top: 120px;
}

.view {
 
    background: url("https://images.unsplash.com/photo-1473172707857-f9e276582ab6?ixlib=rb-0.3.5&q=60&fm=jpg&crop=entropy&cs=tinysrgb&s=a6fc7c7e459119d55e1b6741c5d743a4")no-repeat center center fixed;
    height: 100%; 
    margin-top: 0px;
    padding-top: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    z-index: -1;
        &:before {
        content: '';
    	position: absolute;
    	height: 100%;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to right,#005282,#70e8d6);
    	opacity: .75; 
    	z-index: -1;
    	
      }
    
}

    



/* contact stuff */

.contact-bar{
    color: #474747;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 70px;
    height: 215px;
}

.contact-bar h3,.contact-bar h2,.contact-bar h1{
    color:white;
    padding-bottom: 20px;
}

.cntct-btn{
    width: 20%;
}

.cntct-txt-area{
    min-height: 120px;
}

.btn-full{
    width: 100%;
    margin-top: 10px;
}


.typer{
    font-weight: 800;
}

.static{
    font-weight: 200;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.toggle {
  overflow: hidden;
  transition: height 4s, padding 4s;
}

.toggle.is_hidden {
  height: 50px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


.search-container{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: Transparent;
}

.search-main{
    background-color:rgba(252, 252, 252, 1)
}
.search-main:focus{
    outline-width: 0;
}

.search-btn{
    background-color: #5bacea;
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-btn:hover {
    opacity: .8;
    color: white;
}

.results-bg{
    background-color: white;
    height: 30px;
}

.index-bg{
   background-color: #ffffff;
   height: 100%;
   
}
